.body{
    margin: 0;
}
.subjectContainer{
    background-color: rebeccapurple;
}/*
.wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    .subjectContainer{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        margin: 120px;
        justify-content: center;
        align-items: center;
        background-color: rebeccapurple;
    }
}
.layer{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: red;
    z-index: 1;
}
*/
